includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    level: 4
    checkModelProperties: true
    checkPhpDocMissingReturn: false
    paths:
        - app
        - database
    ignoreErrors:
        - '#^Access to an undefined property .*?\.#'