
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~leaflet/dist/leaflet.css';

@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

:root {

	//Inverse these with the commented ones to actually enable dark/light mode
		// --white: #{$black};
		// --black: #{$white};

		--white: #{$white};
		--black: #{$black};
		--dark: #e6e8ea;
		--secondary: #6b7580;
}
@media (prefers-color-scheme: dark) {
	:root {
		--white: #{$black};
		--black: #{$white};
		--dark: #{$dark};
	}

}
.bg-dark {
	background: var(--dark) !important;
	color: var(--black) !important;
}
.text-white {
//	color: var(--white) !important;
}
.text-secondary {
	color: var(--secondary) !important;
}
.navbar-laravel, .navbar-laravel a {
  color: var(--black) !important;
}
.card {
	border:none;
}
.leaflet-top {
	//top:3.5rem;
}
.navbar-transparent {
	position: absolute;
	right: 0;
	left: 0;
	top:0.5rem;
	background: transparent;
	z-index: 1005;
  	box-shadow: none;
}

.navbar-transparent + div {
	padding-top:4.7rem;
}

.blur-background {
	position: relative;
}

.blur-background > div {
	z-index: 1;
}
.blur-background::after {
  -webkit-backdrop-filter: blur(2px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
  backdrop-filter: blur(2px); /* Supported in Chrome 76 */

  content: "";
  display: block;
  position: absolute;
  width: 100%; height: 100%;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -ms-overflow-style: ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

img.img-thumbnail {
	padding: 1px;
	border:none;
}

.custom-small-text {
	    font-size: 0.85rem;
    line-height: 1.5rem;
}

b, strong {
	font-weight: 600;
}

article img {
	width: 100%;
	// width: calc(100% + 2rem);
	// margin-left: -1rem;
	height: auto;
	min-height: 300px;
	max-height: 50vh;
	object-fit: cover;
	display: inline-block;
	margin-bottom: 1rem;
}

article h2, article h3, article h4, article h5, article h6 {
	text-align: left;
}

a.text-muted, p.text-muted, small.text-muted {
	color:#565656!important;
}

body, , .navbar-nav > li > .dropdown-menu, .navbar-nav > li > .dropdown-menu > .dropdown-item {
	//background-color: #202325;
	background-color: var(--white);
	color: var(--black);
}

// .leafelt-control a, .leaflet-bar a, .leaflet-bar a:hover, .leaflet-bar-part, .leaflet-control-geocoder-icon, .leaflet-control-fullscreen-button {
// 	background-color: #202325 !important;
// 	color: #fff !important;
// }

.leaflet-control-geocoder-alternatives li, .card {
	//color: #202325;
}
// .leaflet-popup-tip, .leaflet-popup-content-wrapper {
// 	background-color: #343a40!important;
// 	color: #fff!important;
// }
.leaflet-container {
    font-size: 0.8rem !important;
    background-color: var(--dark);
}
span.fa {
	color: #404040;
}
.leaflet-pane{
    img{
        position: absolute;
    }
}
.leaflet-control-geosearch form {
  max-width: 250px;
}
.leaflet-control-geosearch .results > * {
  color:#333 !important;
}

.card-title {
	font-weight: 700;
}
.card {
	max-width: 700px;
	margin: 0 auto;
}
.cookie-consent__message {
	display: block;
}
.btn-primary, .btn-danger {
	color: $white !important;
}
// .modal-backdrop.fade.show {
// 	display: none;
// }

.marker-description, .marker-description > p {
    // @extend .mt-0;
    // @extend .mb-1;
    white-space: pre;
    word-wrap: break-word;
}
.marker-description p {
    @extend .mt-0;
    @extend .mb-1;
}